body {
    color: #555555;
    font-family: 'Zilla Slab';
    line-height: 1.6;
    margin: 0%;
    padding: 0%;
}

header {
    padding: 5%;
    background-color: rgb(32, 30, 30);
    text-align: center;
    padding-bottom: 10%;
    color: #fff;
}

.container-fluid {
    width: 80%;
}

.container-fluid ul .nav-item a {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.container-fluid ul .nav-item a:hover {
    text-decoration: underline rgb(14, 196, 135);
}

.container-fluid ul .nav-item img {
    width: 35%;
}

.header-text {
    padding: 17%;
    animation: bounce;
}

.header-text h1 {
    font-size: 7rem;
    font-weight: 540;
    word-spacing: 5px;
     animation: rollIn;
     animation-duration: 1s;
}

.header-text p {
    color: rgb(151, 151, 151);
    font-size: 1.3rem;
    padding: 2%;
    animation: slideInUp;
    animation-duration: 1s;
}

.header-text a {
    font-weight: 600;
}

.header-text a:hover {
    font-weight: 500;
}

.left-side {
    position: relative;
    top: -150px;
    z-index: 2;
    background-color: #fff;
}

.right-side {
    position: relative;
    top: -150px;
    z-index: 2;
    background-color: #fff;
}

.section-1 {
    padding: 0% 5% 5% 5%;
}

.sec-1-text p {
    font-size: 1.5rem;
    color: rgb(139, 139, 139);
}

hr {
    border:none;
    border-top:10px dotted rgb(2, 209, 2);
    color:#fff;
    background-color:#fff;
    height:5px;
    width: 4%;
    margin-left: 48%;
}

.sec-1-text h2 {
    font-weight: bold;
    font-size: 2.8rem;
    color: rgb(48, 47, 47);
    padding: 0 5%;
    margin-bottom: 100px;
}

.sec-1-cards {
    padding-bottom: 10%;
}

.sec-1-cards .card {
    margin-left: 50px;
    margin-top: 20px;
}

.sec-1-cards .next-cards {
    margin-left: 15%;
}

.sec-1-cards .card h2 {
    padding: 5%;
    padding-top: 18%;
    margin: 0 36%;
    background-color: yellowgreen;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    font-size: 3rem;
}

.sec-1-cards .card h3 {
    font-weight: bold;
    color: rgb(37, 36, 36);
    padding: 10% 0;
}

.sec-1-cards .card p {
    font-size: 1.3rem;
    line-height: 2rem;
    color: rgb(139, 139, 139);
    margin: 5% 5%;
}

.sec-1-cards .card :hover h2 {
    animation: flip;
    animation-duration: 0.5s;
}

.carousel-control-prev-icon {
    background-color: black;
    margin-right: 150px;
}

.carousel-control-next-icon {
    background-color: black;
    margin-left: 150px;
}

.sec-1-bottom {
    padding: 0 15%;
}

.sec-1-bottom p {
    font-size: 1.5rem;
    color: rgb(139, 139, 139);
}

.sec-1-bottom a {
    color: yellowgreen;
    font-size: 1.3rem; 
}

.sec-1-bottom a:hover {
    font-size: 1.5rem;
    transition: 0.4s;
}

.section-2 {
    padding-top: 5%;
    padding-right: 10%;
}

.sec-2-text {
    position: relative;
    top: 60px;
    left: 100px;
    background-color:white;
    padding-bottom: 10%;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(131, 130, 130);
    padding: 5%;
}

.sec-2-text hr {
    margin: 0 5%;
    width: 7%;
}

.sec-2-text p {
    font-size: 1.3rem;
    color: rgb(139, 139, 139);
}

.sec-2-text h1 {
    font-weight: bold;
    color: rgb(32, 32, 32);
    padding: 4% 0;
}

.case-study {
    padding: 5%;
    margin-top: 50px;
}

.case-study p {
    font-size: 1.5rem;
    color: rgb(139, 139, 139);
}

.case-study h1 {
    color: rgb(49, 48, 48);
    font-weight: bold;
}

.case-study .study-cards {
    margin-top: 80px;
    margin-bottom: 50px;
}

.study-cards .card {
    border: none;
}

.study-cards .large-cards {
    padding: 30% 0%;
}

.study-cards .small-cards {
    padding: 20% 0%;
}



.case-study .study-cards .card-body {
    background-color: rgb(198, 233, 128);
    opacity: 0.8;
}

.case-study .study-cards .card-body:hover {
    animation: slideOutUp;
    transition: 1s;
    opacity: 0;
    
}

.same-two {
    top: -190px;
}

.big {
    margin-top: 25px;
    width: 37.3rem;
}

.study-button {
    margin-top: -180px;
}

.study-button a {
    font-size: 1.3rem;
    color: yellowgreen;
    
}

.study-button a:hover {
    font-size: 1.5rem;
    transition: 0.4s;
}

.pricing {
    padding: 5%;
}

.pricing-text p {
    font-size: 1.5rem;
    color: rgb(139, 139, 139);
}

.pricing-text h1 {
    color: rgb(48, 46, 46);
    font-weight: bold;
    padding: 0% 30%;
}

.pricing-cards {
    margin-top: -100px;
}

.pricing-cards .card {
    position: relative;
    top: 200px;
    background-color: rgb(12, 12, 12);
    color: rgb(139, 139, 139);
    border-top: 5px solid yellowgreen;
    border-radius: 5px;
    z-index: 1;
    margin-top: 5px;
}

 .pricing-cards .same-cards {
     margin-top: 30px;
 }

.pricing-cards .card .card-title {
    color: yellowgreen;
    padding: 5%;
}

.pricing-cards .card h6 {
    color: #fff;
    font-size: 3rem;
    font-family: sans-serif;
    padding: 4%;
}

.pricing-cards .card .card-text {
    font-size: 1.3rem;
}

.pricing-cards .card .card-link {
    color: yellowgreen;
    text-decoration: none;
    font-size: 1.3rem;

}

.pricing-cards .card:hover {
    margin-top: -10px;
    transition: 0.5s;
}

.pricing-cards .same-cards:hover {
    margin-top: -1px;
    transition: 0.5s;
}

.offer {
    padding: 20% 0%;
    background-color: yellowgreen;
    z-index: 0;
}

.offer .special-offer {
    font-size: 1.2rem;
}

.our-stats {
    position: relative;
    bottom: 150px;
    padding: 5%;
    z-index: 1;
}

.stats {
    padding: 8%;
}

.stats hr {
    background-color: rgb(12, 12, 12);
}

.stats p {
    color: rgb(189, 186, 186);
    font-size: 1.3rem;
}

.stats h1 {
    color: yellowgreen;
    font-weight: bold;
}

.stats .icons {
    font-size: 2.5rem;
    margin: 10% 0%;
    color: #fff;
}

.stats h2 {
    color: #fff;
    margin: 2% 0%;
    padding: 2% 10%;
}

.testimonials {
    padding: 5% 10%;
}

.testimonials p {
    font-size: 1.3rem;
    color: rgb(189, 186, 186);
}

.testimonials h1 {
    color: rgb(32, 32, 32);
    font-weight: bold;
    margin-bottom: 80px;
}

.testimonials .slides p {
    background-color: yellowgreen;
    color: black;
    padding: 5% 15%;
    border-radius: 5px;
    
}

.carousel-control-prev {
    animation: slideInLeft;
}

.carousel-control-next {
    animation: slideInRight;
}

.testimonials .slides img {
    border-radius: 50%;
}

.testimonials .slides h4 {
    color: yellowgreen;
    font-weight: bold;
    padding: 1%;
}

.testimonials .slides span {
    color: rgb(202, 196, 196);
}

.partners {
    padding: 10% 5%;
    background-color: rgb(32, 32, 32);
    padding-bottom: 20%;
    color: #fff;
}

.partners .brands p {
    font-size: 1.3rem;
    color: rgb(202, 196, 196);
    padding: 3% 0;
}

.partners .brands hr {
    background-color: rgb(32, 32, 32);
    width: 8%;
    margin-left: 0%;
}

.partners .brands h2 {
    font-weight: bold;
    color: #fff;
    padding: 2% 0;
}

.partners a {
    margin-top: 50px;
    width: 100%;
    opacity: 0.5;
    border-radius: 5px;
}

.partners a:hover {
    opacity: 1;
    transition: 0.5s;
}

.text-sec {
    background-color: yellowgreen;
    padding: 7% 3%;
    color: rgb(41, 40, 40);
    position: relative;
    bottom: 100px;
}

.text-sec h1 {
    font-weight: bold;
}

.text-sec .btn {
    margin-left: 100px;
    font-size: 1.3rem;
    color: rgb(34, 34, 34);
    border: 2px solid rgb(32, 32, 32);
}

.text-sec .btn:hover {
    color: yellowgreen;
    background-color: rgb(36, 35, 35);
}

.call-us .button-drk {
    margin: 2% 45%;
    padding: 4% 4%;
    border-radius: 50%;
}

.call-us .button-drk:hover {
    background-color: yellowgreen;
    color: rgb(41, 40, 40);
    border: none;
    animation: bounce;
    animation-duration: 1s;
}

.s-01 {
    position: relative;
    top: 100px;
    z-index: 1;
}

footer {
    background-color: rgb(41, 40, 40);
    padding: 10%;
    color: rgb(168, 166, 166);
}

.footer-text img {
    width: 20%;
    padding: 2%;
}

.footer-text p {
    padding: 0 33%;
    font-size: 1.2rem;
}

.footer-icons {
    margin-top: 4%;
}

.footer-icons .icons {
    margin: 2%;
    background-color: yellowgreen;
    padding: 0.8%;
    border-radius: 5px;
    color: rgb(36, 35, 35);
    
}

.footer-icons .icons:hover {
    animation: fadeInUp;
    animation-duration: 1.5s;
}


@media (max-width: 560px) {
    .offer {
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .footer-text {
        margin-top: 100px;
    }
    .lst-cards {
    margin-top: -150px
    }
    .study-cards .card {
        width: 12rem;
        height: 8rem;
    }
}

@media (max-width: 600px) {
    .sec-2-text {
        width: 80%;
        margin-bottom: 80px;
    }
    .sec-2-img img {
        width: 85%;
        margin: 0% 20%;
    }
    .offer {
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .footer-text {
        margin-top: 100px;
    }
    .study-cards .col-md-6 {
        width: 12rem;
        height: 10rem;
        margin-left: 10px;
    }
    .study-cards .card {
        overflow: hidden;
    }
    .same-two {
    top: 100px;
    }
    .shelf {
        margin-top: 140px;
    }
    .infinity {
        margin-top: 135px;
    }
    .big {
        top: -30px;
        width: 8rem;
    }
    
    .study-cards .large-cards {
        width: 12rem;
        height: 10rem;
    }
    .study-button {
        margin-top: 150px;
    }
}

@media (max-width: 660px) {
    .sec-2-text {
        width: 80%;
        margin-bottom: 80px;
    }
    .sec-2-img img {
        width: 85%;
        margin: 0% 15%;
    }
    .offer {
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .footer-text {
        margin-top: 100px;
    }
    .big {
        top: -30px;
        width: 12rem;
        height: 8rem;
    }
}

@media (max-width: 700px) {
    .sec-2-text {
        width: 80%;
        margin-bottom: 80px;
    }
    .sec-2-img img {
        width: 85%;
        margin: 0% 15%;
    }
    .offer {
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .footer-text {
        margin-top: 100px;
    }
    .big {
        top: -30px;
        width: 12rem;
        height: 8rem;
    }
}

@media (max-width: 750px) {
    .sec-2-text {
        width: 80%;
        margin-bottom: 80px;
    }
    .sec-2-img img {
        width: 85%;
        margin: 0% 12%;
    }
    .offer {
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .footer-text {
        margin-top: 100px;
    }
    .big {
        top: -30px;
        width: 12rem;
        height: 8rem;
    }
}

@media (max-width: 800px) {
    .offer {
        margin-top: 120px;
        margin-bottom: 80px;
    }
    .footer-text {
        margin-top: 100px;
    }
    .big {
        width: 20rem;
        height: 15rem;
    }
    .same-two {
        top: -90px;
    }
    .infinity {
        height: 8rem;
        overflow: hidden;
    }
}

@media (max-width: 850px) {
    .offer {
        margin-top: 100px;
        margin-bottom: 80px;
    }
    .footer-text {
        margin-top: 100px;
    }
    .big {
        width: 22.5rem;
        height: 18rem;
        overflow: hidden;
    }
    .same-two {
        top: -140px;
    }
}
